.app {
  width: 100vw;
  height: 100vh;
  background-color: #161719;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.example-container div {
  background: blanchedalmond;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

.redux {
  position: absolute;
  top: 240px;
  left: 350px;
  font-size: 85px;
  color: #764abc;
}
.react {
  position: absolute;
  top: 300px;
  left: 120px;
  font-size: 190px;
  color: #60dafb;
}
.darkReact {
  position: absolute;
  color: #2d3748;
  font-size: 100px;
}
.SiTypescript {
  position: absolute;
  top: 120px;
  right: 120px;
  font-size: 110px;
  color: #2f74c0;
}
.darkSiTypescript {
  position: absolute;
  top: 320px;
  right: 320px;
  font-size: 50px;
  color: #2d3748;
}
.noAiFillGithub {
  position: absolute;
  top: 120px;
  right: 840px;
  font-size: 120px;
  color: #a0aec0;
}
.FaNodeJs {
  position: absolute;
  bottom: 0px;
  right: 590px;
  font-size: 140px;
  color: #679f63;
}
.SiChakraui {
  position: absolute;
  top: 35px;
  right: 350px;
  font-size: 80px;
  color: #53c8c6;
  transform: rotate(20deg);
}

.motionIcon {
  z-index: 10;

  filter: brightness(120%);
}

.FaNodeJs2 {
  position: absolute;
  top: 50px;
  left: 450px;
  font-size: 60px;
  color: #2d3748;
}
