.background {
  font-size: 100px;
  position: absolute;
  color: #2d3748;
}
.bgRedux {
  position: absolute;
  top: 70px;
  right: 200px;
  font-size: 90px;
}
.AiFillGithub {
  position: absolute;
  top: 150px;
  right: 450px;
  font-size: 80px;
}
.bgSiTypescript {
  position: absolute;
  top: 70px;
  right: 740px;
  font-size: 60px;
}
.bgSiTailwindcss {
  position: absolute;
  top: 50px;
  left: 60px;
  font-size: 70px;
}
.bgSiJavascript {
  position: absolute;
  bottom: -100px;
  left: 70px;
  font-size: 180px;
  color: yellow;
}
.bgBsFillBootstrapFill {
  position: absolute;
  top: 170px;
  left: 270px;
  font-size: 60px;
}
.VscBracketError {
  position: absolute;
  bottom: 120px;
  left: 500px;
  font-size: 100px;
}
.bgSiChakraui {
  position: absolute;
  top: 150px;
  right: 540px;
  font-size: 40px;
  color: #2d3748;
}
.bgSiExpress {
  position: absolute;
  bottom: 50px;
  right: 190px;
  font-size: 60px;
  color: #2d3748;
}
